:root {
  --Cyan_color: rgb(0, 204, 255);
  --Green_color: rgb(138, 255, 138);
  --Red_color: rgb(255, 118, 118);

  --Background_image: url("https://img.freepik.com/vector-premium/patron-fisuras-geometrico-neon-azul_601200-1278.jpg?w=2000");
}

.Main_page {
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-width: 400px;
  height: auto;
  min-height: 600px;
  padding-bottom: 1%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button {
  text-transform: uppercase;
  padding: 8px;
  margin: 2px;
  font-weight: 900;
  background-color: rgb(222, 222, 222);
  background: linear-gradient(to bottom, rgb(255, 255, 255), #b6b6b6);
  cursor: pointer;
  border: #007bff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  height: 35px;
}

button:hover {
  background: linear-gradient(to bottom, rgb(255, 255, 255), #838383);
}

.Green_button {
  text-transform: uppercase;
  padding: 8px;
  margin: 2px;
  font-weight: 900;
  background-color: var(--Green_color);
  background: linear-gradient(to bottom, var(--Green_color), #00ff0d);
  cursor: pointer;
  border: #007bff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  height: 35px;
}

.Green_button:hover {
  background: linear-gradient(to bottom, var(--Green_color), #00a008);
}

.Red_button {
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px;
  margin: 2px;
  font-weight: 900;
  background: linear-gradient(to bottom, var(--Red_color), #ff0000);
  cursor: pointer;
  border: #007bff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  height: 35px;
}

.Red_button:hover {
  background: linear-gradient(to bottom, var(--Red_color), #b40000);
}

.Image {
  max-height: 90%;
  max-width: 90%;
  object-fit: cover;
}

.asd {
  display: grid;
}

.Products {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Filter_container {
  width: 400px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Product_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination-number:hover {
  color: #ffffff;
  background-color: #007bff;
}

.pagination-number {
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.active {
  font-weight: bold;
}
.product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  width: 300px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

.Product_card_img {
  max-width: 180px;
  height: 150px;
  margin-top: 10px;
}

.product_card_text {
  position: relative;
  width: 90%;
  height: 140px;
}

.product_card h3 {
  width: 100%;
  text-transform: capitalize;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.product_card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.product_page {
  width: 700px;
  border-radius: 15px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product_page h2 {
  text-transform: uppercase;
}

.Product_page_image {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  max-width: 60%;
  height: 40%;
}

.Header {
  background-color: var(--Cyan_color);
  background-image: var(--Background_image);

  min-height: 200px;
  min-width: 400px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(25px);
  color: white;
  position: relative;
}

.Header_text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.Footer {
  background-color: var(--Cyan_color);
  background-image: var(--Background_image);
  min-height: 200px;
  min-width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.NavBar {
  color: white;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.LoadingImage {
  margin-top: 50px;
  width: 100px;
  height: 100px;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotatez(0deg);
  }
  100% {
    transform: rotatez(-360deg);
  }
}
.Cart_divider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Cart_options {
  padding: 5px;

  min-width: 20%;
}
.Cart_active {
  background: linear-gradient(to bottom, var(--Green_color), #00ff0d);
}

.Cart_active:hover {
  background: linear-gradient(to bottom, var(--Green_color), #007c06);
}

.Cart_button:hover {
  background-color: #888888;
}

.Cart_screen {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.Cart_img {
  max-width: 100%;
  max-height: 100%;
  margin-right: 10px;
}
.Cart_items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 380px;

  justify-content: right;
}
.Cart_item_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  min-width: 360px;
  width: 70%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  border: 1px solid #ccc;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.Cart_button {
  cursor: pointer;
  border-radius: 10px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  color: var(--Green_color);
}

.Cart_card_img {
  padding: 5px;
  max-width: 70px;
  max-height: 70px;
}

.Cart_item_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 120px;

  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.Cart_item_text {
  text-transform: capitalize;
  word-wrap: break-word;
  overflow-wrap: break-word;

  max-width: 50%;
}

.ArticleForm {
  width: 400px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.ArticleForm label {
  margin-bottom: 5px;
}

.ArticleForm input {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  width: auto;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.ArticleForm .Submit_Button {
  margin-top: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  max-width: 600px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.Filter_Div {
  margin-bottom: 10px;
}

.Filter_Div label {
  margin-right: 10px;
}

.Filter_Div select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  font-size: large;
}

.Form_container {
  margin-top: 50px;
  max-width: 600px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.Admin_page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.UserObject {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 50px;
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
